<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>withub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>withub.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>withub.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>withub.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>withub.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet1</display-name>
    <servlet-name>UploadServlet1</servlet-name>
    <servlet-class>withub.UploadServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet1</servlet-name>
    <url-pattern>/UploadServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>withub.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentorMenteeRegistrationManager</display-name>
    <servlet-name>MentorMenteeRegistrationManager</servlet-name>
    <servlet-class>withub.MentorMenteeRegistrationManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorMenteeRegistrationManager</servlet-name>
    <url-pattern>/MentorMenteeRegistrationManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentorMenteeManager</display-name>
    <servlet-name>MentorMenteeManager</servlet-name>
    <servlet-class>withub.MentorMenteeManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentorMenteeManager</servlet-name>
    <url-pattern>/MentorMenteeManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMentor</display-name>
    <servlet-name>SearchMentor</servlet-name>
    <servlet-class>withub.SearchMentor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMentor</servlet-name>
    <url-pattern>/SearchMentor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadPicServlet</display-name>
    <servlet-name>UploadPicServlet</servlet-name>
    <servlet-class>withub.UploadPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadPicServlet</servlet-name>
    <url-pattern>/UploadPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProfile</display-name>
    <servlet-name>SearchProfile</servlet-name>
    <servlet-class>withub.SearchProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProfile</servlet-name>
    <url-pattern>/SearchProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileManager</display-name>
    <servlet-name>ProfileManager</servlet-name>
    <servlet-class>withub.ProfileManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileManager</servlet-name>
    <url-pattern>/ProfileManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatManager</display-name>
    <servlet-name>ChatManager</servlet-name>
    <servlet-class>withub.ChatManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatManager</servlet-name>
    <url-pattern>/ChatManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet2</display-name>
    <servlet-name>UploadServlet2</servlet-name>
    <servlet-class>withub.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet2</servlet-name>
    <url-pattern>/UploadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventManager</display-name>
    <servlet-name>EventManager</servlet-name>
    <servlet-class>withub.EventManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventManager</servlet-name>
    <url-pattern>/EventManager</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Dummy</display-name>
    <servlet-name>Dummy</servlet-name>
    <servlet-class>withub.Dummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dummy</servlet-name>
    <url-pattern>/Dummy</url-pattern>
  </servlet-mapping>
</web-app>